@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Lato', sans-serif;
    color: white;
}

body {
    background-color: #3c3c44;
}

.btn-gethand {
    margin: 2rem;
    padding: .5rem .7rem;
    border: none;
    background-color: rgb(75, 216, 46)
}

.container-hand {
    margin: 0 2rem;
}

.jugada,
.jugada span {
    font-size: 3rem;
    text-transform: uppercase;
}

.red {
    color: #c92222
}

.black {
    color: rgb(0, 0, 0)
}